In [37]:
import numpy as np

In [38]:
import pandas as pd

In [39]:
#set the random seed for reproductivity
np.random.seed(123)

#create data frame with two clases
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples * class_0_ratio)
n_class_1=(n_samples - n_class_0)
n_class_0,n_class_1

(900, 100)

In [40]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
})
class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [41]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [42]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [43]:
#upsamapling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [44]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [45]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [46]:
#perform upsampling
from sklearn.utils import resample

In [47]:
df_minority_upsample=resample(df_minority,
                              replace=True,#sample with replacement
                              n_samples=len(df_majority),#match the majaority class
                              random_state=42
                              )

In [48]:
df_minority_upsample.shape

(900, 3)

In [49]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [50]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [51]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [52]:
df_upsampled.tail()

     feature_1  feature_2  target
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

In [53]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
})
class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [54]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [55]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [56]:
df_majority_downsample=resample(df_majority,
                              replace=False,#sample without replacement
                              n_samples=len(df_minority),#match the majaority class
                              random_state=42
                              )

In [57]:
df_majority_downsample.shape

(100, 3)

In [58]:
df_majority_downsample['target'].value_counts()

target
0    100
Name: count, dtype: int64

In [59]:
df_downsample=pd.concat([df_majority_downsample,df_minority])
df_downsample['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64