In [1]:
import pandas as pd
from sklearn .preprocessing import OneHotEncoder

In [2]:
df=pd.DataFrame({"color":['red','blue','green','red','blue','green']})
df

   color
0    red
1   blue
2  green
3    red
4   blue
5  green

In [27]:
#create instance of OHE
encoder=OneHotEncoder()

In [9]:
encoded=encoder.fit_transform(df[['color']])
import pandas as pd

In [14]:
encodede_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())
encodede_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0
5         0.0          1.0        0.0

In [13]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [15]:
pd.concat([df,encodede_df],axis=1)#axis=1 means coiumn

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0
5  green         0.0          1.0        0.0

In [10]:
import pandas as pd

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
#create sample df with categorical feature
df=pd.DataFrame({"color":['red','blue','green','red','blue','green']})
df

   color
0    red
1   blue
2  green
3    red
4   blue
5  green

In [13]:
#create an instance of label encoder
encoder=LabelEncoder()

In [14]:
encoder.fit_transform(df[['color']])

c:\Users\khush\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0, 1])

In [17]:
import pandas as pd

In [24]:
#create sample df with categorical feature
df=pd.DataFrame({"size":['small','medium','large','large','medium','small']})
df

     size
0   small
1  medium
2   large
3   large
4  medium
5   small

In [25]:
#ordinal encoding
from sklearn.preprocessing import OrdinalEncoder

In [27]:
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [28]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [0.]])

In [29]:
#target guided encoding

In [30]:
import pandas as pd

In [31]:
df=pd.DataFrame({'city':['newyork','london','paris','tokyo','newyork','paris'],'price':[200,150,300,250,180,320]})

In [32]:
df.head()

      city  price
0  newyork    200
1   london    150
2    paris    300
3    tokyo    250
4  newyork    180

In [41]:
#calculate mean
mean=df.groupby('city')['price'].mean().to_dict()
mean

{'london': 150.0, 'newyork': 190.0, 'paris': 310.0, 'tokyo': 250.0}

In [44]:
##replace each city with its mean
df['city_encoded']=df['city'].map(mean)
df

      city  price  city_encoded
0  newyork    200         190.0
1   london    150         150.0
2    paris    300         310.0
3    tokyo    250         250.0
4  newyork    180         190.0
5    paris    320         310.0